apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgresql
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/PilotDataPlatform/pilot-hdc-platform-gitops.git
    targetRevision: HEAD
    path: clusters/dev/apps/postgresql
  destination:
    server: https://kubernetes.default.svc
    namespace: utility
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
