apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: registry-secrets
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "3"
spec:
  project: default
  source:
    repoURL: https://github.com/PilotDataPlatform/pilot-hdc-platform-gitops.git
    targetRevision: main
    path: clusters/dev/apps/registry-secrets
    helm:
      valueFiles:
        - ../../registry.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: utility
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
